.user-profile {
  background-color: white;
  width: 100%;
}

.img-profile{
  display: flex;
  justify-content: center;
  background-color: white;
}

.img-profile img{
  width: 210px;
  height: 210px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #999;
}

.img-show-cover img{
  width: 280px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #999;
  align-content: center;

}

.name-user h1{
  text-align: center;
  color: #E52328;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 0;
}

.email-user {
  text-align: center;
  color: #333333;
}

.precio {
  text-align: center;
  font-size: 24px;
  color: #333333;
  margin: 12px;
  font-weight: bold;
}

.name-comic h1{
  text-align: center;
  color: #E52328;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 15px;
}

.illustrator {
  text-align: center;
  color: #333333;
  font-size: 24px;
  font-style: italic;
}

.release_date {
  text-align: center;
  color: #333333;
  font-size: 20px;
  margin: 10px;
}



.user-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0 20px 0;
}

.comic-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0 20px 0;

}

.user-actions a {
  padding: 0px 10px;
  margin: 0 2px 0 2px;
  border: 1px solid #999;
  border-radius: 5px;
}

.comic-actions a {
  padding: 0px 10px;
  margin: 0 2px 0 2px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color:#FFD700;
  color:#696969;
}

.downfooter {
  vertical-align: sub;
}

.info-purchase{
}

.info-purchase h3 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #111111;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 ;
}

.info-purchase p {
  color: white;
  text-align: center;
  font-size: 13px;
}

.info-purchase.item.info {
  height: auto;
}

.info-bought {
  background-color: #42A9E0;
}

.info-list {
  background-color: #E52328;
}

.info-history {
  background-color: #ffd800;
}

.info-bought, .info-list, .info-history {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding: 5px 0;
  /* cursor: pointer; */
}

.check-box {
  align-self: center;
  display: block;
  width: 100%;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (min-width:1024px) {

  .user-profile {
    display: flex;
    justify-content: flex-start;
  }

  .info-purchase h3 {
    text-align: left;
    padding-left: 15px;
  }

  .column-A {
    width: 25%;
    margin-right: 30px;
  }
  .column-B {
    width: 75%;
  }

  .column-I {
    width: 30%;
    margin-right: 30px;
  }
  .column-II {
    width: 70%;
  }

}
